{% extends "base.html" %}
{% import 'auth/wtf.html' as wtf %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
{% endblock %}
{% block title %} 注册 {% endblock %}
{% block body_attribs %} class="signin"{% endblock %}
{% block body %}
    <div class="signinpanel">
        <div class="row">
            <div class="col-sm-12">
                <form method="post" action="{{ url_for('auth.register') }}">
                    <h4 class="text-center text-555">注册Flask 云盘</h4>
                    <br>
                    {{ form.hidden_tag() }}
                    {{ wtf.form_errors(form, hiddens="only") }}
                    {{ wtf.form_field(form.username,form_type="inline",placeholder="用户名") }}
                    {{ wtf.form_field(form.password,form_type="inline", placeholder=" 密码") }}
		            {{ wtf.form_field(form.password_confirm,form_type="inline", placeholder="确认密码") }}
		            {{ wtf.form_field(form.email,form_type="inline", placeholder="邮箱") }}
{#                     <div class="form-group required">#}
{#                        {{ form.verification_code.label(class="control-label") | safe }}#}
{#                        <label class="control-label"><img id="changeCode" src="{{ url_for('auth.captcha') }}"#}
{#                                                          style="width:120px;height:30px;"></label>#}
{#                    </div>#}
{#                    {{ wtf.form_field(form.verification_code,form_type="inline",placeholder=" 验证码") }}#}
                    {{ form.submit(class="btn btn-success btn-block") }}
                </form>
                <p class="text-muted text-center">已经有账户了？<a href="{{ url_for('auth.login') }}">点此登录</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
