{% block doc -%}
    <!DOCTYPE html>
    <html{% block html_attribs %}{% endblock html_attribs %}>
    {%- block html %}
        <head>
            {%- block head %}
                <title>{% block title %}Flask 云盘{% endblock title %}</title>

                {%- block metas %}
                    <meta name="csrf-token" content="{{ csrf_token() }}">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                {%- endblock metas %}

                {%- block styles %}
                    <!-- Bootstrap -->
                    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
                    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
                {%- endblock styles %}
            {%- endblock head %}
        </head>
        <body{% block body_attribs %}{% endblock body_attribs %}>
        {% block body -%}
            {% block navbar %}
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a href="{{ url_for("main.index") }}" class="navbar-brand">Flask 云盘</a>
                    </div>

                        <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ url_for("main.index") }}"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;云盘管理</a>
                            </li>
                            <li><a href="{{ url_for("file.upload") }}"><span
                                    class="glyphicon glyphicon-cloud-upload"></span>&nbsp;&nbsp;上传文件</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                            <a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                {{ current_user.username }}
                                <span class="caret"></span>
                            </a>
                        {% if current_user.is_authenticated %}
                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li>
                                <a href="{{ url_for('auth.user_info',username=current_user.username) }}"><span
                                        class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;个人主页</a>
                            </li>
                            <li><a href="{{ url_for('auth.change_pass') }}"><span
                                    class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;修改密码</a></li>
                            {% if current_user.username=='admin' %}
                                <li><a href="{{ url_for('admin.index') }}"><span
                                        class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;后台管理</a>
                                </li>
                            {% endif %}
                            <li><a href="{{ url_for('auth.setting') }}"><span
                                    class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;设置</a></li>

                            </ul>
                        {% endif %}
                        </li>
                        <li><a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;退出</a>
                        </li>
                    </ul>
                    </div>
                </div>
                </nav>
            {%- endblock navbar %}
            {% block content -%}
                <div class="container">
                    {% block page_content %} {% endblock %}
                </div>
            {%- endblock content %}

            {% block scripts %}
                <script src="//cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
                <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            {%- endblock scripts %}
        {%- endblock body %}
        </body>
    {%- endblock html %}
    </html>
{% endblock doc -%}
